#signup{
    width: 100%;
    height: 100%;
    .container{
        width: 100%;
        .gap{
            padding: 1rem;
            .signup__list{
                .signup__item{
                    position: relative;
                    margin-bottom: 1rem;
                    >label{
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding-left: 1rem;
                        transform: translateY(1rem);
                        opacity: 0.5;
                        color: #908e9b;
                        font-size: 1rem;
                        transition: all 0.3s ease-in-out;
                        &.active{
                            color: #565360;
                            font-size: 0.75rem;
                            transform: translate(-1rem, -0.75rem);
                        }
                    }
                    >input{
                        width: 100%;
                        height: 3rem;
                        border: 1px solid #f2f5f5;
                        border-radius: 10px;
                        padding-left: 1rem;
                        outline: none;
                        outline-offset: -1px;
                    }
                }
            }
            .btn__box{
                width: 100%;
                >.submit__btn{
                    width: 100%;
                    height: 2.5rem;
                    border-radius: 1rem;
                    border: 1px solid #f2f5f5;
                    background: linear-gradient(45deg, #5f0080, #a700ff);
                    color: #fff;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        background: linear-gradient(45deg, #a700ff, #5f0080);
                    }
                }
            }
            .notification{
                position: absolute;
                width: max-content;
                left: 0;
                right: 0;
                bottom: 2rem;
                margin-left: auto;
                margin-right: auto;
                border-radius: 6px;
                background: #a700ff;
                color: #fff;
                box-sizing: 0 1px 10px rgba(0, 0, 0, 0.1);
                transform: translateY(2.5rem);
                opacity: 0;
                visibility: hidden;
                animation: fade-in 3s linear;
                .notification__body{
                    display: flex;
                    align-items: center;
                    padding: 1rem 0.5rem;
                    .notification__icon{
                        width: 2rem;
                        height: 2rem;
                        margin-right: 4px;
                    }
                }
                .notification__progress{
                    position: absolute;
                    left: 4px;
                    bottom: 4px;
                    width: calc(100% - 0.5rem);
                    height: 0.5rem;
                    transform: scaleX(0);
                    transform-origin: left;
                    background: linear-gradient(to right, #a700ff, #fff);
                    border-radius: inherit;
                    animation: progress 2.5s 0.3s linear;
                }
            }
        }
    }
}